<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
      <!-- Enter valid Service Bus connection strings. -->
      <add key="headOffice" value=""/>
      <add key="usaSubscription" value=""/>
      <add key="euSubscription" value=""/>
      <add key="ukSubscription" value=""/>
    </appSettings>
</configuration>
